.slide-1-content, .slide-2-content, .slide-3-content{
   bottom: 20%;
   top: 20%;
}

.slide-3-content{
    right: 45%;
    left: 0%;
    top: 14%;
}

.slide-1-content p{
    font-size: 1.2em;
}

.slide-3-content{
    text-align: left;
    margin-left: 3em;
}